.il_interactive {
	background-color: white;
}
.ui-dialog.ui-front {
	top: 70px !important;
}
.chk_ans {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 120px;
	padding: 2px;
	cursor: pointer;
}
.imgView {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}
.txtSolution {
	position: absolute;
	top: 360px;
	left: 20px;
	width: 300px;
	display: block;
	color: #57a598;
	font-size: 14px;
	text-align: center;
}
.txtSelection {
	position: absolute;
	top: 390px;
	left: 20px;
	width: 300px;
	display: block;
	color: #5c5370;
	font-size: 14px;
	text-align: center;
}
.txtSolution span, .txtSelection span {
	font-weight: bold;
}
.spacer {
	width: 30px;
	display: inline-block;
}
.slider_area {
	display: block;
	position: absolute;
	top: 420px;
	left: 20px;
	width: 300px;
	height: 30px;
}
.scroll-track {
	position: absolute;
	background: #ef9a85;
	border: 2px #5c5370 groove;
	border-radius: 10px;
	height: 10px;
	top: 10px;
	right: 5%;
	left: 5%;
}
.slider_area .ui-slider {
	background: none;
	height: 40px;
	width: 90%;
	margin: 0 auto;
	margin-top: 10px;
	border: none;
}
.ui-slider .ui-slider-handle {
	border-radius: 1.2em;
	background: #57a598;
	background:-webkit-gradient(radial, -26 -122, 0, 220 -257, 465, from(#FFFFFF), to(#57a598));
	cursor: ew-resize;
	border: 1px #5c5370 solid;
}
#preloader {
	display: none;
}
