/* CSS Document */
#custom_interactive {
	height: 100%;
	margin-bottom: 50px !important;
	padding: 10px;
	/*
	background-color: #f7f7f7;
	*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1c3832+0,5aada1+20,cabfe5+100 */
	background: rgb(28,56,50); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(28,56,50,1) 0%, rgba(90,173,161,1) 20%, rgba(202,191,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(28,56,50,1)), color-stop(20%,rgba(90,173,161,1)), color-stop(100%,rgba(202,191,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(28,56,50,1) 0%,rgba(90,173,161,1) 20%,rgba(202,191,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(28,56,50,1) 0%,rgba(90,173,161,1) 20%,rgba(202,191,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(28,56,50,1) 0%,rgba(90,173,161,1) 20%,rgba(202,191,229,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(28,56,50,1) 0%,rgba(90,173,161,1) 20%,rgba(202,191,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c3832', endColorstr='#cabfe5',GradientType=0 ); /* IE6-9 */
}
.glyphicon-info-sign {
	color: #ffffff;
	opacity: 1;
}
#coinHolder {
	margin-top: 25px;
}
.heads, .tails {
	margin: 2px -7px;
}
#controlsHolder {
	display: block;
	position: absolute;
	bottom: 50px;
	width: 100%;
}
#howMany, #btnGenerate {
	float: left;
	margin: 2px 5px;
}
#resultsTxt {
	display: none;
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
}
#cns_head, #cns_tails {
	font-weight: bold;
}
input#howMany {
	border: 1px solid #1c6c60;
	width: 50px;
	margin: 5px 5px 0 200px;
	text-align: center;
}