/*======================================

CSS DOCUMENT FOR ALL fonts to embed

======================================*/

/*------------ this is the font used for glyphicons, do not remove unless you do not want to use them ------------*/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');/* IE9 Compat Modes */
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  		url('../fonts/glyphicons-halflings-regular.woff') format('woff'), /* Modern Browsers */
		url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg'); /* Legacy iOS */
}
/*------------------------------------------------------------------------------------------------------------------*/


