/*======================================
CSS DOCUMENT FOR HOME PAGE
======================================*/

html {
	height: 100%;
}
body {
	height: 100%;
	background: #ffffff url(../../global/images/home/home_bg.jpg) center 140px repeat-y fixed;
	background-size: 100%;
}
#wrapper {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#title {
	position: absolute;
	background: url(../images/home/course_title.png) center center no-repeat;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}
#course_title {
	display: none;
}


/*	======================================
footer styles
========================================*/
footer {
	position: fixed;
	bottom: 0;
	background-color: #ee9a85;
	width: 100%;
	height: 60px;
	color: #333333;
	z-index: 200;
}
#footer_inner {
	padding: 0;
	margin-top: 22px;
	position: relative;
	width: 1000px;
}
#footer_copyright {
	padding: 0 20px;
	font-size: 13px;
	text-transform: capitalize;
	margin-top: 0;
	margin: auto;
	background-color: transparent;
	border-radius: 0;
	border: none;
}
#footer_copyright br {
	display: none;
}
#footer_copyright img {
    width: 275px;
	margin: 0 auto;
    margin-top: -10px;
	padding-right: 160px;
	
}
#footer_copyright span {
	float: left;
}
.developers {
	float: right;
	width: 65px;
	height: auto;
}
.developers a {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: normal;
	color: #333333;
	margin-top: -20px;
	padding: 0;
}
.developers span {
	width: 400px;
	left: -345px;
	bottom: 50px;
}

/*	======================================
index menu styles
========================================*/

.lesson_backdrop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 200;
}
#module_area {
	position: absolute;
	width: 100%;
	height: 100px;
	top: 40px;
	left: 0;
	background-color: #ffffff;
	border-bottom: 1px #5aada1 solid;
	box-shadow: 0 0 0 1px #f47351;
	-moz-box-shadow: 0 0 0 1px #f47351;
	-webkit-box-shadow: 0 0 0 1px #f47351;
	z-index: 100;
}
#modules {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}
#lesson_menu {
	display: none;
	position: absolute;
	top: 141px;
	width: 100%;
	background: rgba(255, 255, 255, .9);
	padding: 34px 0 40px 0;
	z-index: 500;
}
.div_lessons {
	display: none;
	width: 990px;
	margin: 0 auto;
}
.div_lessons a {
}
.moduleselect {
	float: left;
	display: block;
	width: 106px;
	height: 92px;
	margin: 5px 15px 0 15px;
	cursor: pointer;
}
.moduleselect:hover {
	background: url(../images/home/module_bg_hover.png) top right repeat-x;
}
.moduleSelected {
	background-color: #57a598;
	color: white;
}
.mod_icon {
	float: left;
	display: block;
	width: 34px;
	height: 92px;
}
.mod_icon > img {
	margin-top: 19px;
	margin-left: 9px;
}
.mod_num {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin-top: 20px;
}
.mod_title {
	display: block;
	font-weight: bold;
}
.lessonDivL, .lessonDivMid, .lessonDivR {
	position: relative;
	display: table-cell;
	width: 330px;
}
.lessonDivL {
	padding-right: 40px;
	border-right: 1px #5aada1 solid;
}
.lessonDivMid {
	padding-left: 40px;
	padding-right: 40px; 
}
.lessonDivR {
	padding-left: 40px;
	border-left: 1px #5aada1 solid; 
}
.lessonHead {
	display: block;
	background-color: #5aada1;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	color: white;
	padding-left: 7px;
	margin-bottom: 10px;
	margin-top: 20px;
}
.lessonHead:first-child {
	margin-top: 0;
}
.lessonlink {
	display: table;
	color: #1c6c60;
	line-height: 15px;
	margin-bottom: 9px;
}
.lessonlink:hover {
	color: #1c6c60;
}
.lessonNum {
  font-weight: bold;
  width: 45px;
  display: table-cell;
}
.lessonTitle {
	display: table-cell;
}


/*	======================================
NAV menu styles
========================================*/
#nav_menu {
	top: 40px;
}


/*======================================
window size test
======================================*/
#sizer {
	position: absolute;
	display: block;
	bottom: 60px;
	right: 20px;
	background: red;
	color: white;
	padding: 2px;
	z-index: 5000;
}


/*	======================================
MEDIA QUERIES
========================================*/
@media (max-width: 1000px) {
	#modules {
		width: 900px;
	}
	.div_lessons {
		width: 900px;
	}
	.moduleselect {
		margin: 5px 10px 0 10px;
	}
	.lessonDivL, .lessonDivMid, .lessonDivR {
		width: 300px;
	}
	.lessonDivL {
		padding-right: 20px;
	}
	.lessonDivMid {
		padding-left: 20px;
		padding-right: 20px;
	}
	.lessonDivR {
		padding-left: 20px;
	}
	#footer_inner {
		width: 100%;
	}
}
@media (max-width: 940px) {
	#title {
		background: url(../images/home/course_title_sm.png) center center no-repeat;
	}
	#modules {
		width: 815px;
	}
	.moduleselect {
		margin: 5px 5px 0 5px;
	}
	.div_lessons {
		width: 100%;
		padding-left: 15px;
		padding-right: 10px;
	}
}
@media (max-width: 870px) {
	body {
		background-position: center 230px;
	}
	#module_area {
		height: auto;
	}
	#modules {
		width: 545px;
	}
	#lesson_menu {
		top: 236px;
	}
	#menulink4 {
		margin-left: 60px;
	}
}
@media (max-width: 640px) {
	body {
		background: #ffffff url(../../global/images/home/home_bg_sm.jpg) center 40px repeat-y fixed;
		background-size: cover;
	}
	#module_area, #lesson_menu {
		display: none !important;
	}
	.menu_mobile_nav {
		display: block;
	}
	#footer_copyright span {
		display: none;
	}
	#footer_copyright img {
		float: left;
	}
}