/*======================================
CSS DOCUMENT FOR CUSTOM INTERACTIVE STYLES, ABOVE THE ILSKIN templates
HAVE TO CALL IT IN SETTINGS FILE var course_csslibs = ['../global/css/interactives.css'...
======================================*/


/*======================================
	dialog boxes
======================================*/

.ui-dialog.ui-front {
	min-width: 400px;
	left: 50% !important;
	margin-left: -200px;
}
div.ui-dialog {
	border-radius: 10px;
	border: none;
	padding: 0px;
}
.ui-widget-header {
	border: none;
	background: #ee9a85;
	background-image: none;
	color: #fff;
	font-weight: bold;
}
.ui-dialog-titlebar.ui-widget-header button {
	border: 1px solid #fff;
	background: none;
	font-weight: normal;
	color: #ffffff;
}
.ui-dialog-titlebar.ui-widget-header button:hover {
	color: #ffffff;
}
.ui-dialog .ui-dialog-buttonpane {
	border: none;
}
.ui-dialog .ui-dialog-buttonpane button {
	border: 3px solid #1c6c60;
	background: #ffffff;
	color: #1c6c60;
}
.ui-button-text-only .ui-button-text {
 	padding: 6px 10px;
	min-width: 75px;
	font-weight: bold;
	font-size: 12px;
}
.ui-dialog .ui-dialog-buttonpane button:hover {
	background: #1c6c60;
	color: #ffffff;
}


/*======================================
	dialog boxes
======================================*/

div.activeInteractive {
	padding: 0;
}


/*======================================
	containers
======================================*/

div.ilShell {
	padding: 0;
	border: none;
}