/*======================================

CSS DOCUMENT FOR ALL Libraries 
Colobox, accordions, etc

======================================*/


/* ---------------------------------
-- BUTTONS
---------------------------------*/
button.toggleSwitch, button.toggleSwitchFT {
	border-radius: 0;
	margin-bottom: 20px;
	width: auto;
}
.btn-primary, .btn-danger, .btn-info, .btn-primary:focus, .btn-danger:focus, .btn-info:focus {
	background-image: none;
	background-color: #ffffff;
	-ms-filter: none;
	color: #1c6c60;
	border: 3px solid #1c6c60;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn-primary:hover, .btn-danger:hover, .btn-info:hover {
	background-image: none;
	background-color: #1c6c60;
	border-color: #1c6c60;
	color: #ffffff;
}
.chk_ans {
	display: block;
	width: 180px;
	padding: 5px;
	border: 3px solid #1c6c60;
	border-radius: 0;
	background: #ffffff;
	color: #1c6c60;
	text-align: center;
	text-decoration: none !important;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.chk_ans:hover {
	color: white;
	background: #1c6c60;
	text-decoration: none !important;
}
.glyphicon-info-sign {
	position: absolute;
	top: 10px;
	right: 10px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	font-size: 20pt;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	opacity: .6;
	cursor: pointer;
}
/* annoying */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background-image: none !important;
	background-color: #ffffff !important;
	-ms-filter: none !important;
	color: #1c6c60 !important;
	border: 3px solid #1c6c60 !important;
	border-radius: 0 !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	height: 35px;
}
.ui-state-default:hover, .ui-widget-content .ui-state-default:hover, .ui-widget-header .ui-state-default {
	background-image: none !important;
	background-color: #1c6c60 !important;
	border-color: #1c6c60 !important;
	color: #ffffff !important;
}


/* ---------------------------------
-- COLORBOX
---------------------------------*/
#cboxClose {
	right: 0;
	background-image: url("../../global/images/global/close_pop.png");
	background-position: 0 0;
}
#cboxClose:hover {
	background-position: 0 0;
	opacity: 0.6;
}



/* ---------------------------------
-- CLICK TO REVEAL
---------------------------------*/
.panel-group .panel {
	border-radius: 0;
}
.panel-default > .panel-heading {
	background-image: none;
	background-repeat: no-repeat;
	-ms-filter: none;
	filter: none;
	background-color: #56a599;
	color: #ffffff !important;
	border: none;
	padding: 12px 15px;
	border-bottom: none;
	border-radius: 0 !important;
}
.panel-heading > .glyphicon {
	color: white;
}
.panel-body {
  padding: 15px;
  border: 2px solid #ededed;
}
.panel {
	margin-bottom: 20px;
	background-color: #f8f8f8;
	border: none;
	border-radius: 0;
}

/* for practice blocks */
.practice-content .panel-default > .panel-heading {
	background-color: #984732;
}


/* ---------------------------------
-- CLICK TO REVEAL
---------------------------------*/
.panel-danger > .panel-heading {
	background-image: none;
	background-repeat: repeat-x;
	-ms-filter: none;
	background-color: #56a599;
}
.panel-danger > .panel-heading > .panel-title {
	color: white;
	text-shadow:2px 2px 2px rgba(0, 0, 0, .5);
}
.collapse > .panel-body:before, .collapsing > .panel-body:before {
	content: ' ';
	height: 0;
	position: relative;
	width: 0;
	border: 10px solid transparent;
	border-top-color: #56a599;
	top: -17px;
	left: 50px;
	display: block;
}

/* ---------------------------------
-- TABBED PANELS
---------------------------------*/
.TabbedPanels {
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	clear: none;
	width: 95%;
}
.TabbedPanelsContent h4 {
	margin: 0;
	color: #ad835a;
	border-bottom: solid 1px #ad835a;
	padding-top: 10px;
}
.TabbedPanelsTabGroup {
	margin-left: 0;
	padding: 0;
}
.TabbedPanelsTab {
	top: 1px;
	float: left;
	padding: 4px 10px;
	margin: 0 1px 0 0;
	font: bold 0.7em sans-serif;
	background-color: #ded39c;
	list-style: none;
	border-left: solid 1px #b09b51;
	border-bottom: solid 1px #b09b51;
	border-top: solid 1px #b09b51;
	border-right: solid 1px #b09b51;
	cursor: pointer;
	color: #000;
}
.TabbedPanelsTabHover {
	background-color: #ad835a;
	color: #fff;
}
.TabbedPanelsTabSelected {
	background-color: #ad835a;
	color: #fff;
	border-left: solid 1px #b09b51;
	border-bottom: 1px solid #ad835a;
	border-top: solid 1px #b09b51;
	border-right: solid 1px #b09b51;
}
.TabbedPanelsTab a {
	color: #fff;
	text-decoration: none;
}
.TabbedPanelsContentGroup {
	clear: both;
	border-left: solid 1px #b09b51;
	border-bottom: solid 1px #b09b51;
	border-top: solid 1px #b09b51;
	border-right: solid 1px #b09b51;
	background: #edefd4;
}
.TabbedPanelsContent {
	padding: 4px;
	margin: 0 10px;
}
.TabbedPanelsContentVisible {
	text-align: left;
}
.tabs {
	position: relative;
}
.tabs a.tab {
	float: left;
	display: block;
	position: relative;
	color: white;
	background: #56a599;
	background-image: none;
	background-repeat: repeat-x;
	-ms-filter: none;
	padding: 10px 15px;
	margin-right: 1px;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none !important;
}
.tabs a.tab:hover, .tabs a.active {
	text-decoration: none;
	cursor: pointer;
	background: #428077;
	color: white;
	border: none;
	border-color: #428077;
}
.tabs a.active:after {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: 10px solid transparent;
	border-top-color: #428077;
	top: 100%;
	left: 50%;
	margin-left: -10px;
	display: block;
}
a.tab.leftAlign {
	width: 100%;
}
a.tab.leftAlign.active:after {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: 10px solid transparent;
	border-left-color: #428077;
	top: 50%;
	left: auto !important;
	right: -20px;
	margin-top: -10px;
	display: block;
}
.tabs div.panel {
	border: none;
	background-color: #f8f8f8;
}
/* for practice blocks */
.practice-content .tabs a.tab {
	background: #984732;
	background-image: none;
	background-repeat: repeat-x;
	-ms-filter: none;
}
.practice-content .tabs a.tab:hover, .practice-content .tabs a.active {
	background: #ed8f77;
	border-color: #ed8f77;
}
.practice-content .tabs a.active:after {
	border-top-color: #ed8f77;
}
.practice-content .collapse > .panel-body:before, .practice-content .collapsing > .panel-body:before {
	content: ' ';
	height: 0;
	position: relative;
	width: 0;
	border: 10px solid transparent;
	border-top-color: #984732;
	top: -17px;
	left: 50px;
	display: block;
}
.practice-content a.tab.leftAlign.active:after {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: 10px solid transparent;
	border-left-color: #ed8f77;
	top: 50%;
	left: auto !important;
	right: -20px;
	margin-top: -10px;
	display: block;
}

/* ---------------------------------
-- ACCORDION
---------------------------------*/


/* ---------------------------------
-- SLIDESHOW/CAROUSEL
------------------------------------*/
.carousel-control.left, .carousel-control.right {
	color: #ffffff;
	bottom: 25px;
}
.carousel-indicators {
	margin-bottom: 3px;
	bottom: 0;
}
.carousel-indicators li {
	width: 13px;
	height: 13px;
	padding: 0;
	background-image: none;
	background-position: center top;
	border: solid 1px #ffffff;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	background-color: transparent;
	margin: 0;
}
.carousel-indicators li:hover {
	background-position: center top;
	background-color: rgba(255, 255, 255, .7);
	width: 13px;
	height: 13px;
}
.carousel-indicators .active {
	background-position: center top;
	background-color: rgba(255, 255, 255, 1);
	width: 13px;
	height: 13px;
}
.carousel {
	background-color: #5aada1;
	border: solid 1px #ccc;
	-webkit-border-radius: 0;
	border-radius: 0;
	margin: 0 auto;
	margin-bottom: 0;
	width: 100%;
	padding: 0;
}
.carousel > h2 {
	background-color: #5b536f;
	color: #ffffff;
	margin: 0;
	line-height: 55px;
	padding-left: 20px;
	z-index: 1000;
}
.carousel > h2:after {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: 10px solid transparent;
	border-top-color: #5b536f;
	top: 55px;
	left: 50px;
	z-index: 1000;
	display: block;
}
.carousel-inner {
	margin-bottom: 50px !important;
}
.carousel-inner > .item {
	padding: 20px;
	background-color: #f7f7f7;
}
.carousel-inner:after {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: 10px solid transparent;
	border-bottom-color: #5aada1;
	bottom: 0;
	right: 50px;
	z-index: 1000;
	display: block;
}


/* ---------------------------------
-- TOOLTIPS
------------------------------------*/
.tooltip-inner {
	background-color: #ef9a85;
	color: black;
}
.tooltip.in {
	opacity: 1;
	filter: alpha(opacity=100);
}
.tooltip.top .tooltip-arrow {
	border-top-color: #ef9a85;
}


/* ---------------------------------
-- PROGRESS BAR
------------------------------------*/
