/*======================================
CSS DOCUMENT FOR MEDIA QUERIES
HAVE TO CALL IT IN SETTINGS FILE var course_csslibs = ['media_queries.css'];
======================================*/


@media (max-width: 1000px) {
	main {
		width: 900px;
	}
}
@media (max-width: 940px) {
	main {
		width: 800px;
	}
	#content {
		padding: 30px 50px 60px 50px;
	}
}
@media (max-width: 800px) {
	main {
		width: 100%;
	}
}