/*===========================NAV BAR==========================*/
nav {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: #ffffff; /*may vary by course */
	z-index: 9901;
	display: block;
	-moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, .15);
	box-shadow: 0px 0px 40px rgba(0, 0, 0, .15);
	margin: 0px auto !important;
}
#menu_outer {
	margin: 0 auto;
	margin-bottom: 40px;
	padding: 0px 0px;
	width: 1000px;
}
nav #menu_inner {
	padding: 0px 0px;
	margin: 0 auto;
	position: relative;
}
#menu_inner .menubtn {
	float: left;
	font-size: 19px;
	font-weight: bold;
	color: #0c919a;
	display: block;
	line-height: 40px;
	padding: 0 15px;
	-webkit-box-shadow: -4px 0px 8px 0px rgba(189, 186, 181, 0.40), 4px 0px 8px 0px rgba(189, 186, 181, 0.40);
	-moz-box-shadow: -4px 0px 8px 0px rgba(189, 186, 181, 0.40), 4px 0px 8px 0px rgba(189, 186, 181, 0.40);
	box-shadow: -4px 0px 8px 0px rgba(189, 186, 181, 0.40), 4px 0px 8px 0px rgba(189, 181, 181, 0.40);
}
#menu_inner .menubtn:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #57a598;
}
#menu_inner .menu_links {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#menu_inner .menu_links li {
	float: left;
	margin: 0px;
	padding: 0px;
}
#menu_inner .menu_links li:first-child {
	margin-left: 15px;
}
#menu_inner .menu_links li a {
	text-transform: uppercase;
	font-size: 12px;
	color: #000000;
	display: block;
	line-height: 40px;
	margin-right: 2px;
	padding: 0px 8px;
	font-weight: normal;
}
#menu_inner .menu_links li a:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #57a598;
	font-weight: normal;
}
#nav_menu .nav_menu_modules {
	width: 200px;
}
#menu_right, #menu_rightMobile {
	float: right;
}
.page_links a.active, .page_links a:hover {
	color: #fff;
	background-color: #57a598;
}
.pagenums {
	height: 40px;
	float: left;
	position: relative;
	margin-right: 10px;
}
.pagenums a, .pagenums p {
	color: #000000;
	line-height: 40px;
	display: block;
	padding: 0 15px;
	float: left;
}
.pagenums a:last-child {
    margin-right: 20px;
}
.pagenums a:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #57a598;
}
.progress_bar .bar .bar_segment.complete {
	background-color: #57a598;
}
.progress_bar .bar .bar_segment {
	background-color: #5c5370;
}
.prevt {
	float: left;
	display: block;
	line-height: 40px;
	color: #57a598 !important;
	width: 29px;
	height: 29px;
	text-indent: -999px;
	overflow: hidden;
	background-image: url(../images/global/prev.png);
	margin-top: 5px;
	background-color: #5aada1;
}
.home {
	float: left;
	display: block;
	line-height: 40px;
	font-size: 12px;
	font-weight: normal;
	color: #000000 !important;
	text-transform: uppercase;
	border-left: solid 1px #f0f0f0;
	border-right: solid 1px #f0f0f0;
	padding: 0px 15px;
	margin: 0px 15px;
}
.home:hover {
	text-decoration: none;
	color: #ffffff !important;
	background-color: #57a598;
}
.nextt {
	float: left;
	display: block;
	line-height: 40px;
	color: #333;
	width: 29px;
	height: 29px;
	text-indent: -999px;
	overflow: hidden;
	background-image: url(../images/global/next.png);
	margin-top: 5px;
	background-color: #5aada1;
}
/* module menu */
#nav_menu {
	position: absolute;
	display: none;
	z-index: 9900;
	margin: 0 auto;
	width: 1000px;
	margin-bottom: 40px;
	padding: 0;
}
#nav_menu .nav_menu_modules li .nav_menu_lessons, #nav_menu .nav_menu_modules {
  background: rgba(255, 255, 255, 0.9);
}
#nav_menu .nav_menu_modules li a.modlink {
	background-color: #fff;
	color: black;
	font-size: 16px;
	width: auto;
	padding: 8px;
	border: none;
	border-bottom: solid 1px #f47351;
	margin: 0px;
}
.modlink img {
	display: inline-block;
	width: 21px;
	height: 21px;
	margin-right: 4px;
}
.nav_num {
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.nav_title {
	font-size: 12px;
	font-weight: bold;
}
#nav_menu .nav_menu_modules li .nav_menu_lessons {
	background: rgba(255, 255, 255, 0.9);
	left: 200px;
	width: 795px;
	padding: 0;
}
#nav_menu .nav_menu_modules li a.modlink:hover {
	background-color: #57a598;
	color: white;
}
.nav_menu_lessons li {
	display: inline-table;
	margin: 4px;
}
.nav_menu_lessons li a {
	display: block;
	margin: 0;
	width: 150px;
	height: 90px;
	padding: 5px;
	float: none;
	border-radius: 0;
	background-color: #FFFFFF;
	-webkit-box-shadow: 1px 1px 5px 0px #949494;
	-moz-box-shadow: 1px 1px 5px 0px #949494;
	box-shadow: 1px 1px 5px 0px #949494;
}
.nav_menu_lessons li a:hover {
	background-color: #57a598;
	text-decoration: none;
}
.nav_menu_lessons li a.odd {
	background-color: #e5e5e5;
}
.nav_menu_lessons li a.odd:hover {
	background-color: #57a598;
	text-decoration: none;
}
.nav_menu_lessons li a .lesson_title {
	font-size: 11px;
	padding-top: 0;
	line-height: 15px;
}
.nav_menu_lessons li a .lesson_num {
	font-size: 22px;
	color: #57a598;
	font-weight: bold;
	line-height: 22px;
}
.nav_menu_lessons li a .lesson_nfo {
	font-size: 11px;
}
.menu_mobile .menubtn_mobile {
	margin-top: 5px;
	margin-left: 10px;
	width: 29px;
	height: 29px;
	background: url(../images/global/nav_mobile.png) 0 0 no-repeat;
}


/*	======================================
MEDIA QUERIES
========================================*/
@media (max-width: 1000px) {
	#nav_menu, #menu_outer {
		width: 900px;
	}
	#nav_menu .nav_menu_modules li .nav_menu_lessons {
		width: 700px;
	}
	.nav_menu_lessons li a {
		width: 167px;
	}
}
@media (max-width: 940px) {
	#nav_menu, #menu_outer {
		width: 800px;
	}
	#nav_menu .nav_menu_modules li .nav_menu_lessons {
		width: 600px;
	}
	.nav_menu_lessons li a {
		width: 141px;
	}
}
@media (max-width: 800px) {
	#nav_menu, #menu_outer {
		width: 100%;
	}
	#nav_menu .nav_menu_modules {
		width: 100%;
	}
	.nav_menu_modules li {
		text-align: center;
	}
	#nav_menu .nav_menu_modules li .nav_menu_lessons {
		position: inherit;
		width: 100%;
	}
	.nav_menu_lessons li {
		width: 32%;
		text-align: left;
	}
	.nav_menu_lessons li a {
		height: 65px;
		width: 100%;
	}
}