/*======================================

CSS DOCUMENT FOR LOOK and FEEL

======================================*/


body {
	background-image: url(../images/global/main_bg.png);
	background-position: top left;
	background-repeat: repeat;
	line-height: 1.7;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: lighter;
	background-color: #e0f8ff;
}
main {
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
	position: relative;
	width: 1000px;
	padding: 0px;
}
.h1, .h2, .h3, h1, h2, h3 {
	color: #dc5728;
}
img {
	max-width: inherit;
}
#wrapper {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#content {
	background: #ffffff url(../images/global/footer_bg.png) bottom center no-repeat;
	border: none;
	padding: 30px 90px 60px 90px;
	margin-top: 0px;
	width: 100%;
}
#container {
}
a, a:visited, a:focus {
	color: #417b71;
	font-weight: bold;
}
a:hover {
	color: #2c534c;
}
#pageContent a, #pageContent a:visited, #pageContent a:focus {
	text-decoration: underline;
}
div, a, li, img, select, button, span {
	outline: none !important;
}
.breadcrumbs {
	padding: 20px 30px 10px;
	line-height: 22px;
	font-size: 14px;
	color: #154654;
	text-transform: uppercase;
	margin-top: 40px;
}
.breadcrumbs_course, .breadcrumbs_module, .breadcrumbs_lesson {
	color: #3b3b3b;
	font-size: 14px;
}
.breadcrumbs_lesson {
	font-weight: normal;
}
#breadcrumbs {
	margin: 0 20px;
	padding: 26px;
	position: relative;
	border: none;
	background-color: #e0e9e0;
}
#footer_copyright {
	background-color: transparent;
	border: none;
	text-align: center;
}
#footer_copyright span {
	font-size: 10px;
}
#breadcrumbs, #content, #footer_copyright {
	margin-left: 0px;
	margin-right: 0px;
}
h1.bs {
	padding: 10px;
	background-color: #f7941e;
	border-radius: 5px;
	color: #fff;
}
.bs-example {
	margin: 10px 0px;
	background-color: #fff;
	border: 1px solid #b4b4b4;
	border-radius: 4px 4px 0 0;
	box-shadow: none;
	padding: 15px;
	position: relative;
}
.highlight {
	padding: 9px 14px;
	margin-bottom: 14px;
	background-color: #e4e4e4;
	border: 1px solid #b4b4b4;
	border-radius: 4px;
}
.bs-example+.highlight {
	margin-top: -16px;
	margin-left: 0;
	margin-right: 0;
	border-width: 1px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 15px;
}
.highlight pre {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	background-color: transparent;
	border: 0;
}
.image-container > img {
	padding-bottom: 9px;
	background-image: url(../images/global/img_shadow_l.png), url(../images/global/img_shadow_r.png);
	background-position: bottom left, bottom right;
	background-repeat: no-repeat, no-repeat;
}
.image-container .copyright {
	margin-top: 0px;
}

/*****AFFIX STYLES*********/
#affix-nav {
	margin-top: 10px;
}
ul.nav.sidenav.affix, #affix-nav {
	width: 160px;
}
.affix {
	top: 40px;
}
/* First level of nav */

#affix-nav .nav {
	padding-bottom: 10px;
	background-color: #f7941e;
	border-radius: 5px;
	border: 1px solid #f7941e;
}
#affix-nav .nav h3 {
	text-align: center;
	color: #ffffff;
}
/* All levels of nav */
#affix-nav .nav li a {
	padding-top: 5px;
	color: #ffffff;
}
#affix-nav .nav > li > a:hover, #affix-nav .nav > li > a:focus {
	text-decoration: none;
	background-color: #f7b260;
	color: #333;
}
#affix-nav .nav > .active > a, #affix-nav .nav > .active:hover > a, #affix-nav .nav > .active:focus > a {
	font-weight: bold;
	color: #000000;
	background-color: #faf6ef;
	text-shadow: none;
}
#affix-nav .nav > li.active > ul {
	display: block;
	background-color: #e5e3e9;
	padding-bottom: 10px;
	list-style: none;
}
#affix-nav .nav > li.active > ul > li > a {
	color: #f7941e;
	margin-left: -20px;
}
#affix-nav .nav > .active > a.back-to-top {
	background-color: #f7941e;
	color: #ffffff;
}
#affix-nav .nav > li > ul {
	display: none;
}
/*****EXAMPLE STYLES*********/
.show-grid {
	margin-bottom: 15px;
}
.show-grid > [class^=col-] {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eee;
	background-color: rgba(86,61,124,.15);
	border: 1px solid #ddd;
	border: 1px solid rgba(86,61,124,.2);
}
.color-swatches {
	margin: 0 -5px;
	overflow: hidden;
}
.color-swatch {
	width: 60px;
	height: 60px;
	border-radius: 3px;
}
.color-swatch.brand-primary {
	background-color: #428bca;
}
.color-swatch.brand-success {
	background-color: #5cb85c;
}
.color-swatch.brand-info {
	background-color: #5bc0de;
}
.color-swatch.brand-warning {
	background-color: #f0ad4e;
}
.color-swatch.brand-danger {
	background-color: #d9534f;
}
.color-swatch.gray-darker {
	background-color: #222;
}
.color-swatch.gray-dark {
	background-color: #333;
}
.color-swatche.gray {
	background-color: #555;
}
.color-swatch.gray-light {
	background-color: #999;
}
.color-swatch.gray-lighter {
	background-color: #eee;
}
.bs-glyphicons {
	margin: 10px;
}
.bs-glyphicons-list {
	padding-left: 0;
	list-style: none;
}
.bs-glyphicons li {
	float: left;
	width: 10%;
	height: 115px;
	padding: 10px;
	font-size: 10px;
	line-height: 1.4;
	text-align: center;
	border: 1px solid #fff;
	background-color: #f9f9f9;
}
.bs-glyphicons .glyphicon {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 24px;
}
.bs-glyphicons .glyphicon-class {
	display: block;
	text-align: center;
	word-wrap: break-word;
}
.scrollspy-example {
	position: relative;
	height: 200px;
	overflow: auto;
}

/*******************MATH*******************/
/* These styles are subject to change and are based on the Algebra 2 course of 2013-2014 school year */
.math-sum.red, .redunderline {
	border-bottom: #a20000 1px solid;
}
.math-sum.blue {
	border-bottom: #0066cc 1px solid;
}
.math-sum, .math_sum {
	border-bottom: black 1px solid;
}
.red, .red-num .fm-num-frac, .red-den .fm-den-frac {
	color: #a20000;
}
/*****************colorbox fix for line-height******************/
#cboxTitle {
	line-height: normal
}
p, span, td, li {
	font-family: Helvetica, Verdana, sans-serif;
}
.whiteBorder {
	border-color: #FFFFFF;
}
.blackBorder {
	border-color: #000000;
}
.reallyDarkBlueBorder {
	border-color: #000066;
}
.blueGreyBorder {
	border-color: #5A70B8;
}
.darkGreenBorder {
	border-color: #5c5370;
}
.sandBackground {
	background-color: #FFFFCC;
}
.peachBackground {
	background-color: #FFCC99;
}
.lightOliveBackground {
	background-color: #CCFF66;
}
.brightDarkBlueBackground {
	background-color: #0000FF;
}
.mediumAquaBackground {
	background-color: #33CCFF;
}
.mediumSlateBackground {
	background-color: #98C4DE;
}
.anotherSlateBackground {
	background-color: #ADB2D6;
}
.mediumGreyBackground {
	background-color: #CCCCCC;
}
.bronzeBackground {
	background-color: #993300;
}
.seaGreenBackground {
	background-color: #66FFFF;
}
.darkSeaGreenBackground {
	background-color: #33CC99;
}
.darkGreenBackground {
	background-color: #5c5370;
}
.lightSlateText {
	color: #CCCCFF;
}
.alsoBrightBlueArialText {
	font-family: Helvetica, Arial, sans-serif;
	color: #0066CC;
}
.brightDarkBlueText {
	color: #0000FF;
}
.mediumGreyText {
	font-family: Helvetica, Arial, sans-serif;
	color: #CCCCCC;
}
.darkGreyText {
	color: #333333;
}
.darkGreenText {
	font-family: Helvetica, Arial, sans-serif;
	color: #5c5370;
	font-weight: bold;
}
.darkGreenBoldText {
	color: #5c5370;
	font-weight: bold;
}
.largeDarkGreenText {
	font-size: large;
	font-family: Helvetica, Arial, sans-serif;
	color: #5c5370;
}
.extraLargeDarkGreenText {
	font-size: x-large;
	font-family: Helvetica, Arial, sans-serif;
	color: #5c5370;
}
.purpleArialText {
	font-family: Helvetica, Arial, sans-serif;
	color: #663366;
}
.pinkArialText {
	font-family: Helvetica, Arial, sans-serif;
	color: #FFCCFF;
}
.fusciaArialText {
	font-family: Helvetica, Arial, sans-serif;
	color: #FF00FF;
}
.redText {
	color: #CC0000;
	font-weight: bold;
}
.redArialText {
	font-family: Helvetica, Arial, sans-serif;
	color: #CC0000;
}
.largeRedText {
	font-size: large;
	color: #CC0000;
}
.largeRedArialText {
	font-size: large;
	font-family: Helvetica, Arial, sans-serif;
	color: #CC0000;
}
.smallBlackText {
	font-size: small;
	color: #000000;
}
.smallWhiteText {
	font-size: small;
	color: #FFFFFF;
}
.whiteText {
	font-family: Helvetica, Arial, sans-serif;
	color: #FFFFFF;
}
.blackText {
	font-family: Helvetica, Arial, sans-serif;
	color: #000000;
}
.extraSmallWhiteArialText {
	font-family: Helvetica, Arial, sans-serif;
	font-size: x-small;
	color: #FFFFFF;
}
.arialText {
	font-family: Helvetica, Arial, sans-serif;
}
.largeArialText {
	font-family: Helvetica, Arial, sans-serif;
	font-size: large;
}
.extraLargeArialText {
	font-family: Helvetica, Arial, sans-serif;
	font-size: x-large;
}
.smallText {
	font-family: Helvetica, Arial, sans-serif;
	font-size: small;
}
.extraSmallText {
	font-family: Helvetica, Arial, sans-serif;
	font-size: x-small;
}
.extraSmallBoldArialText {
	font-family: Helvetica, Arial, sans-serif;
	font-size: xx-small;
	font-weight: bold;
}
.leftArialText {
	font-family: Helvetica, Arial, sans-serif;
	text-align: left;
}
.blackLeftArialText {
	font-family: Helvetica, Arial, sans-serif;
	text-align: left;
	color: #000000;
}
.tableHeight365 {
	height: 365px;
}

div#pageContent > table:first-child, div#pageContent > table:first-child > tbody > tr > td {
	border: none;
}
.txt-drk-green {
	color: #5c5370;
}
.txt-drk-red {
	color: #CC0000;
}
.bg-info {
	color: white;
	background-color: #0c919a;
	padding-left: 5px;
}

#externalContent {
	margin: 0 auto;
	width: 98%;
	background-color: transparent;
	background-position: top center;
	background-repeat: no-repeat;
	border-bottom: solid 20px #bdbab5;
	margin-bottom: 40px;
	background-color: #ffffff !important;
	padding: 20px;
}

/* ---------------------------
	CONTENT BLOCKS
--------------------------- */
.well.assignment {
	background-image: -webkit-linear-gradient(top,#dff9ff 0,#e4f8fd 100%);
	background-image: linear-gradient(to bottom,#dff9ff 0,#e4f8fd 100%);
	background-repeat: repeat-x;
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dff9ff', endColorstr='#e4f8fd', GradientType=0);
	border: 2px solid #a8dbf6;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.1);
	box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.1);
}

/* custom blocks */
div.blocks {
	position: relative;
	display: inline-table;
	background-color: #e9f9ff;
	border-radius: 5px;
	min-height: 200px;
	width: 100%;
	margin-bottom: 30px;
	margin-top: 40px;
}
.blocks .icons {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	float: left;
	width: 222px;
	background-color: #a1d1e4;
	text-align: center;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	padding-bottom: 15px;
}
.icons span {
	font-size: 28px;
	color: #636363;
	font-family: Helvetica, Arial, sans-serif;
	margin-top: 15px;
}
.icons .mod_intro {
	background-image: url(../images/global/icon_intro.png);
	width: 169px;
	height: 169px;
	margin-top: -30px;
	margin-left: -20px;
}
.icons .lab {
	background-image: url(../images/global/icon_lab.png);
	width: 169px;
	height: 169px;
	margin-top: -30px;
	margin-left: -20px;
}
.icons .assessment {
	background-image: url(../images/global/icon_assessment.png);
	width: 169px;
	height: 178px;
	margin-top: -40px;
	margin-left: -20px;
}
.icons .exam {
	background-image: url(../images/global/icon_exam.png);
	width: 169px;
	height: 174px;
	margin-top: -35px;
	margin-left: -20px;
}
.icons .notes {
	background-image: url(../images/global/icon_notes.png);
	width: 169px;
	height: 174px;
	margin-top: -35px;
	margin-left: -20px;
}
.blocks > .content {
	display: block;
	margin-left: 230px;
	padding: 15px;
}
.content h3 {
	font-size: 18px;
}

/* practice blocks */
.block-practice {
	position: relative;
	width: 100%;
	border: 3px #ee9a85 solid;
	border-radius: 5px;
	padding: 0px;
	margin-top: 40px;
	margin-bottom: 20px;
}
.practice-title {
	position: relative;
	border-bottom: 3px #ee9a85 solid;
	width: 100%;
	height: auto;
	min-height: 80px;
	padding: 20px 0px 10px 180px;
	background-color: #ffebe6;
}
.practice-icon {
	position: absolute;
	z-index: 200;
	width: 172px;
	height: 170px;
	top: -31px;
	left: -17px;
	background: url(../images/global/icon_practice.png) top center no-repeat;
}
.practice-title h3 {
	margin: 0px;
	color: #636363;
}
 .practice-content {
	padding: 65px 18px 10px 18px;
}

/* module into image boxes */
.mod-intro_black {
	position: relative;
	width: 100%;
	height: 290px;
	margin-bottom: 28px;
}
.mod-intro_image {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 100;
}
.mod-intro_image img {
	width: 100%;
	height: 100%;
}
.mod-intro_text {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 480px;
	height: auto;
	background: #ffffff;
	padding: 15px 15px 0px 15px;
	z-index: 200;
}
.mod-intro_text p {
	line-height: 16px;
}
.mod-intro_text > .mod-welcome {
	font-size: 40px;
	text-transform: uppercase;
	color: #603c94;
	line-height: 45px;
}
.mod-intro_text > .mod-title {
	font-size: 15px;
	font-weight: bold;
	line-height: 18px;
}
.mod-intro_divider {
	background: url(../images/global/mod_divider.png) no-repeat center top;
	height: 13px;
	width: 100%;
	margin: 10px 0px 20px 0px;	
}

/* wells */
.well.primary {
	color: #fff;
	background-color: #5c5370;
	border-color: #174E80;
	background-image: none;
}

/* MISC */
div.audioInteractive, div.mainVersion {
	margin: 0;
	padding: 0;
	border: none;
	overflow: visible;
}

/* for intro tables */
.intro-cell1 {
	width: 20%;
}
.intro-cell2 {
	width: 55%;
}
.intro-cell3 {
	width: 10%;
}
.intro-cell4 {
	width: 15%;
}