@charset "UTF-8";
/* CSS Document  */

.unlock {
	display: none;
}

.lname, .mname, .mnumber, .assessment_block, .default {
	display:inline-block;
}


/* uncomment these to color code the unlock MALN tagging 
.lesson_number {
	background-color:#F0F;
	border-color:#0F0 1px solid;
}

.lang[data-term="module_name:uc"] {
	background-color:#0F0;
	border-color:#0F0 1px solid;
}
.lang[data-term="module_name"] {
	background-color:#0F0;
	border-color:#0F0 1px solid;
}
.lang[data-term="lesson_name:uc"] {
	background-color:#FF0;
	border-color:#0F0 1px solid;
}
.lang[data-term="lesson_name"] {
	background-color:#FF0;
	border-color:#0F0 1px solid;
}
.lname {
	background-color:#66F;
}
.mname {
	background-color:#F60;
}
*/