.il_interactive .droppable, .il_interactive .drop {
	width: 48%;
}
.ui-widget-header {
	text-align: center;
}
.il_interactive .draggable {
	max-width: 420px;
	width: 420px;
}
.bin {
	height: 300px;
}
.bin > ul > li {
	line-height: 14px;
	margin-bottom: 5px;
}