<a class="sr-only" href="#main">Skip to main content</a>
<nav>
    <div id="menu_outer" tabindex="1">
        <div id="menu_inner">
            <div class="menu_desktop">
                    <a href="javascript:void(0);" class="menubtn"  alt="Link to Menu">MENU</a>
                    <div data-tag="menu_links" class="menu_links"></div>
                    
                    <div id="menu_right">
                        <div class="pagenums">
                            <div data-tag="bookmarker"></div>
                            <div data-tag="page_numbers"></div>
                        </div>
                        <div class="menuBox">
                            <a href="" data-tag="link_prev" class="prevt"  alt="Link to Previous Page">Previous</a>
                            <a href="" data-tag="link_home" class="home"  alt="Link to Home">Home</a>
                            <a href="" data-tag="link_next" class="nextt"  alt="Link to Next Page">Next</a>
                        </div>
                    </div>

                    
            </div>
            
            <div class="menu_mobile">
                        <a href="javascript:void(0);" class="menubtn_mobile" alt="Link to Menu"></a>
                        
                        <div id="menu_right">
                            <div class="pagenums">
                                <div data-tag="page_numbers"></div>
                            </div>
                            <a href="" data-tag="link_prev" class="prevt" alt="Link to Previous Page">Previous</a>
                            <a href="" data-tag="link_home" class="home" alt="Link to Home">Home</a>
                            <a href="" data-tag="link_next" class="nextt" alt="Link to Next Page">Next</a>
                        </div>
                        
            </div>
        </div><!-- end menu_inner -->
    </div>
</nav>

<div id="nav_menu">
	<div class="menu_mobile_nav">
                    	<div data-tag="menu_links" class="menu_links"></div>
    </div>
 	<!-- Menu items will be populated here -->
</div>