<main id="main" role="main">

	<div id="breadcrumbs">
    	<span class="breadcrumbs_course"></span> : <span class="breadcrumbs_module_num"></span>: <span class="breadcrumbs_module"></span> : <span class="breadcrumbs_num"></span>: <span class="breadcrumbs_lesson"><div data-tag="page_title" class=""></div></span>
    </div>
    
	<div id="content">
		<div data-tag="page_content"></div>
	</div>
    
</main>

<footer>
	<div id="footer_inner">
		<div id="footer_copyright"></div>
	</div>
</footer>