.fourlaws {
	width: 600px;
	height: 500px;
	background-image: url('../images/fourlawsbg.png');
	background-color: #fff;
	background-repeat: no-repeat;
}
.fourlaws .imageskip {
	width: 0px;
	opacity: 1;
	text-align: center;
	margin-left: 294px;
	margin-top: 10px;
}
.fourlaws .side_block {
    float: left;
    margin: 10px 10px 0;
    width: 280px;
}
.fourlaws .side_block img {
	margin-top: 10px;
	margin-bottom: 10px;
}
.fourlaws .side_block p {
	line-height: 17px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
}
.fourlaws .skipspacediv {
	margin-top: 2px;
}

.fourlaws h2 {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1px;
    margin:0 10px 10px;
    max-width: 100%;
    text-align: right;
}
.fourlaws .skipspacefour h2 {
	text-align: left;
}
.fourlaws .skipspacetwo h2 {
	margin-top: 27px;
	text-align: left;
}
.fourlaws .skipspaceone h2 {
	margin-top: 10px;
}
