@charset "UTF-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}


body{
	background-image:url(images/bg.png);
	line-height:22px;
}
.columnContainer {
	background-color: #80CCC2;
	margin-right: auto;
	margin-left: auto;
	width: 800px;
}
.column {
	float: left;
	width: 200px;
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}
hr  {
	clear: both;
}
h2.columnheader{
	
	text-align: center;
}
h1 {
	color:#335082;
	text-align: center;
	font-size:32px;
	font-weight:500;
	margin-bottom:20px;
	padding-bottom:20px;
	border-bottom:solid 1px #e8e8e8;
}
h2{
	color:#5096ff;
	margin-bottom:10px;
	font-size:22px;
	font-weight:bold;
}

ul{
	margin-bottom:20px;
}
ul li{
	margin-bottom:5px;
}
ul li a{
	color:#4081e2;
	margin-bottom:5px;
}
ul li a:hover{
	color:#245db0;
}

.navigationFooter {
	text-align: center;
}
a{
	color:#4081e2;

}
a:hover{
	color:#245db0;
}

hr{
	border:none;
	border-top:solid 1px #e8e8e8;
	margin:20px 0px;
}
img {
	vertical-align: bottom;
}
.importantnote {
	/* [disabled]border: 1px solid #F00; */
}
.blockimportantnote {
	font-family: "Courier New", Courier, monospace;
	background-color:#ececec;
	padding:20px;
}
.blockagoodruleofthumb {
	font-family: Tahoma, Geneva, sans-serif;
	font-style: italic;
	font-weight: bolder;
}
.blockyoutryit {
	background-color:#ececec;
	padding:20px;
}
.bodyContainer {
	font-family: Georgia, "Times New Roman", Times, serif;
	width: 826px;
	margin-right: auto;
	margin-left: auto;
	padding:20px;
	background-color: #FFF;
	color: #000;
	border: 1px solid #c7c7c7;
	border-bottom:1px solid #a0a0a0;
	margin-bottom:30px;
}

h4 {
	text-align: center;
	margin: 5px;
	padding: 5px;
	border: 15px dotted #0F0;
	background-color: #F00;
	letter-spacing: 2em;
	word-spacing: 6em;
	text-decoration: underline blink;
	color: #FF0;
}
sup,
sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	_vertical-align: bottom;
	position: relative;
	font-size:14px;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}
