.ui-front {
	top: 101px !important;
}
.iInstructions {
	z-index: 1000;
}
#anim_continer {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	width: 600px;
	height: 460px;
}
#anim_bg {
	position: absolute;
	z-index: 100;
	top: 0px;
	left: 0px;
	width: 600px;
	height: 400px;
}
#car_sm {
	position: absolute;
	z-index: 200;
	top: 175px;
	left: 245px;
	height: 85px;
	width: 136px;
}
#car_sm img {
	width: 100%;
	height: 100%;
}
#car_in {
	position: absolute;
	z-index: 300;
	top: 0px;
	left: 0px;
	width: 600px;
	height: 460px;
}
#stopsign {
	display: none;
	position: absolute;
	z-index: 250;
	top: 102px;
	left: 489px;
	width: 61px;
	height: 140px;
}
#stopsign img {
	width: 100%;
	height: 100%;
}
.clicker {
	display: none;
	position: absolute;
	z-index: 600;
	width: 100px;
	padding: 2px;
	border: 3px #1c6c60 solid;
	background-color: white;
	color: #1c6c60;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
}
.clicker:hover {
	background-color: #1c6c60;
	color: white;
}
#start, #reset {
	top: 350px;
	left: 480px;
}
#next {
	top: 300px;
	left: 480px;
}
#coverit {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0, .5);
	display: none;
	z-index: 800;
}
.closeit {
	position: absolute;
	top: 10px;
	right: 10px;
	display: block;
	color: #ffffff;
	background: #57a598;
	padding: 2px 5px;
	line-height: normal;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
}
.closeit:hover {
	background: #75decf;
}
.tl_popup {
	position: absolute;
	display: none;
	width: 400px;
	height: auto;
	top: 100px;
	left: 100px;
	padding: 30px 10px;
	background-color: white;
	z-index: 900;
	border: 3px #57a598 solid;
}
