.heatingcurves .ui-slideshow-slide {
	margin: 0px;
}

.heatingcurves .ui_pend .help {
	right: 20px;
	top: 8px;
	z-index: 2;
}

.heatingcurves .txt_block {
	position: absolute;
	z-index: 1;
	margin-right: 0px;
	width: 35%;
	margin-left: 450px;
	margin-top: 15px;
	color: #fff;
}

.heatingcurves h2 {
	color: #fff;
	margin-bottom: 15px;
	font-size: 19px;
	line-height: 20px;
	margin-top: 5px;
}

.heatingcurves .txt_block p {
	padding-right: 0px;
	line-height: 15px;
	margin-bottom: 7px;
}