
.carousel-inner > .item  {
 background-color:#fff;
}

/*.idealgaslaw .ui-slideshow-slide {
margin: 0px;
}*/

.idealgaslaw .ui_pend .help {
    right: 11px;
    z-index:1;
}

.idealgaslaw .img_block .img_top_align
{
    position:absolute;
}

.idealgaslaw p {
  font-weight:bold;
}
.carousel-inner > .item {
	min-height: 351px;
}
