/* BASICS */

body{
	margin:0px;
	padding:0px;
	background-color:#101630;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	background-image:url(../imgs/home/bg.jpg);
	background-repeat:no-repeat;
	background-position:center top;
}

a{text-decoration:none;}
a img{border:none;}

/* ------------------------------------------------------------------------------------------

		FONTS

 ------------------------------------------------------------------------------------------*/


@font-face {
    font-family: 'funky';
    src: url('../fonts/euphorigenic-webfont.eot');
    src: url('../fonts/euphorigenic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/euphorigenic-webfont.woff') format('woff'),
         url('../fonts/euphorigenic-webfont.ttf') format('truetype'),
         url('../fonts/euphorigenic-webfont.svg#EuphorigenicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


#wrapper{
	width:850px;
	margin:0 auto;	
}


#container{
	width:350px;
	margin:0 auto;
	margin-top:112px;
	margin-left:300px;
	background-image:url(../../../global/imgs/index/block_bg.png);
	background-repeat:no-repeat;
	position:relative;
}
#margin{
		padding:20px;
		position:relative;
		z-index:1000;	
	}
	
	/* The list of links that lead to the modules */
/* The list of links that lead to the modules */
#linklist{
	margin:0px;
	padding:0px;
	list-style:none;
	margin-top:10px;
	z-index:1001;	
}
	#linklist li{
		margin-bottom:3px;	
	}
	#linklist li a:hover{
		margin-left:15px;
	}
	
	#linklist li a{
		display:block;
		font-size:20px;
		color:#782923;
		margin-left:10px;
		
	}
	
	#linklist li a:hover{
		color:#000000;	
	}
	
	#linklist li.segment{
		font-size:28px;	
		color:#251a2f;
		font-family: 'funky';
		font-size:30px;
		text-align:center;
		
	}
	
	#linklist li a .modnum{
		font-family: 'funky';
		font-size:26px;	
	}
	
	#linklist li a .modname{
		font-family: 'funky';
		font-size:24px;	
	}
	
	#footer{
	width:850px;
	margin:0 auto;	
	position:relative;
}

#footer #footer_span{
	text-align:center;
	width:225px;
	display:block;
	font-size:10px;
	padding:5px 10px;
	color:#ffffff;
	background-color:#782923;
	color:#fff;
	position:absolute;
	top:0px;
	left:300px;
	font-style:oblique;	
	font-style: italic;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px; 
	
}
#footer #footer_span img{
	vertical-align:middle;	
}

#popup{
	position:fixed;
	width:400px;
	background-color:#D9BD95;
	z-index:1003;
	top:100px;
	left:500px;
	display:none;
	-webkit-box-shadow: 2px 2px 2px 2px #000000;
-moz-box-shadow: 2px 2px 2px 2px #000000;
box-shadow: 2px 2px 2px 2px #000000; 
}
#popup #closebtn{
	display:block;
	width:32px;
	height:32px;	
	background-image:url(../imgs/home/close.png);
	background-position:left top;
	position:absolute;
	top:-34px;
	right:-34px;
	
}
#popup #closebtn:hover{
	background-position:left -33px;	
}

#lessons ul{
	list-style:none;
	margin:0px;
	padding:0px;
	display:none;
}
#lessons ul li a{
	display:block;
	background-color:#e8e8e8;
	border-bottom:solid 1px #ccc;
	padding:10px;
	font-size:14px;
	color:#782923;
}
#lessons ul li a:hover{
	background-color:#782923;
	color:#ffffff;
}




#overlay{
	background-image:url(../imgs/home/overlaybg.png);
	width:100%;
	height:100%;
	position:fixed;
	z-index:1002;
	top:0px;
	left:0px;
	display:block;
	cursor:default;
	display:none;
}
