@charset "utf-8";
@media screen{

h1 {
	font-size: 25px;
	text-shadow: 1px 1px #FFF;
	z-index:20000;
/*margin:0px;
margin-left:-340px;
padding:0px;
line-height:40px;
text-align:center;
color:#CCC;
font-size:18px;
font-family:Arial, Helvetica, sans-serif;
position:fixed;
text-shadow:1px 1px #333;
left:50%;
top:0px;
text-align:left;*/
}
h2 {
	color: #782923;
	margin:0px;
	padding:0px;
	font-size:23px;
	text-shadow: 1px 1px #FFF;	
}

h3 {
	color:#782923;
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
}
h4 {
	color:#782923;/*955216*/
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
}
h5{
	color:#782923;
	font-size:16px;
}

hr {
	height:1px;
	background-image:url("../imgs/hr.png");
	border:none;
}

/*Flash Interactives*/
div#margin div.activeInteractive, div#margin div.video{margin:40px 0px 20px 0px; position:relative; padding: 0px;}
div#margin div.activeInteractive button.toggleSwitch, div#margin div.video button.toggleSwitch{margin-left:-50px;width:100px;color:#666;height:30px;text-align:center;text-decoration:none;background-color:#FFF;border:1px solid #CCC;border-bottom:none;position:absolute;left:50%;top:-30px;}
div#margin div.activeInteractive button.toggleSwitch:hover, , div#margin div.video button toggleSwitch:hover{cursor:pointer;}
div#margin div.activeInteractive button.toggleSwitch:active, div#margin div.activeInteractive button.toggleSwitch:focus, div#margin div.video button.toggleSwitch:active, div#margin div.video button.toggleSwitch:focus{outline:0;}
div#margin div.activeInteractive div.swfObject, div.activeInteractive div.textVersion, div#margin div.video div.swfObject, div.video div.textVersion{margin:50px 0px 0px 0px;padding:20px;border:1px solid #d0d0d0;zoom:1;}
div#margin div.activeInteractive div.swfObject object, div#margin div.video div.swfObject object{margin:0px auto;display:block; padding: 0px;}
div#margin div.activeInteractive div.swfObject, div#margin div.video div.swfObject {margin:0px auto;display:block; padding: 0px;zoom:1;}
div#margin div.activeInteractive iframe{margin:0px auto;padding:0px;display:block;overflow:hidden;border:none;max-width:100%;min-height:200px;}
div#margin button.printText{margin:0px auto;}
div#margin .activeInteractive .textVersion p, div#margin .activeInteractive .textVersion ul, div#margin .activeInteractive .textVersion .clickReveal {text-align: left;}

/* turn off toggle switch for video player in IE */
div#margin div.video button.toggleSwitch {display:none;}

/*Tabs*/
div#margin div.tabs{margin-top:40px;position:relative;zoom:1;}
div#margin div.tabs h3{margin:0px;padding-left:10px;padding-right:10px;line-height:30px;font-size:16px;display:block;font-weight:bold;text-decoration:none;outline:none;position:absolute;top:-30px;}
div#margin div.tabs h3.tabOn{color:#FFF;height:32px;background-color:#782923;}
div#margin div.tabs h3.tabOff{color:#FFF;background-color:#ae7571;}
div#margin div.tabs h3.tabOff:hover{color:#FFF;background-color:#000;cursor:pointer;}
div#margin div.tabs div.tab{padding:10px;background-color:#FFF;border:3px solid #782923;}
div#margin div.tabs div.tab p{margin:20px;}


/*Accordians*/
div#margin dl.accordian dt{
	margin-bottom:2px;padding-left:10px;color:#FFF;
	font-family:Arial, Helvetica, sans-serif;font-size:16px;font-weight:bold;line-height:35px;background-position:5px 3px;background-repeat:no-repeat;
	-webkit-user-select:none;-moz-user-select:none;
	background-color:#782923;}/*88a0bf*/
div#margin dl.accordian dt:hover{
	cursor:pointer;
	background-color:#ae7571;/*3d526c*/
}
div#margin dl.accordian dd{
	margin:0px;
	margin-bottom:2px;
	padding:20px;
	background-color:#FFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #ae7571;
	border-right-color: #ae7571;
	border-bottom-color: #ae7571;
	border-left-color: #ae7571;
}

/* Tooltip */
.ui_tooltip_bubble {
  position: absolute;
  color: #000;
  width: 180px; }

.ui_tooltip_bubble .tipBody {
  background-color: #fff;
  padding: 5px 5px 5px 15px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px; }

.ui_tooltip_bubble .tipArrow {
  content: "";
  display: block;
  /* reduce the damage in FF3.0 */
  position: absolute;
  top: -13px;
  left: 15px;
  width: 0;
  border-width: 0px 15px 15px;
  border-style: solid;
  border-color: #fff transparent; }
  
  
 /* NEW ToolTip  */

.tip-twitter {
  opacity: 0.8;
  z-index: 1000;
  text-align: left;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  padding: 8px 15px;
  max-width: 200px;
  color: #fff;
  background-color: #000;
  /* Configure an arrow image - the script will automatically position it on the correct side of the tip */ }
  .tip-twitter .tip-inner {
    font: 14px/18px "PTSansRegular"; }
  .tip-twitter .tip-arrow-top {
    margin-top: -5px;
    margin-left: -5px;
    /* approx. half the width to center it */
    top: 0;
    left: 50%;
    width: 9px;
    height: 5px;
    background: url("../imgs/tip-twitter_arrows.gif") no-repeat; }
  .tip-twitter .tip-arrow-right {
    margin-top: -4px;
    /* approx. half the height to center it */
    margin-left: 0;
    top: 50%;
    left: 100%;
    width: 5px;
    height: 9px;
    background: url("../imgs/tip-twitter_arrows.gif") no-repeat -9px 0; }
  .tip-twitter .tip-arrow-bottom {
    margin-top: 0;
    margin-left: -5px;
    /* approx. half the width to center it */
    top: 100%;
    left: 50%;
    width: 9px;
    height: 5px;
    background: url("../imgs/tip-twitter_arrows.gif") no-repeat -18px 0; }
  .tip-twitter .tip-arrow-left {
    margin-top: -4px;
    /* approx. half the height to center it */
    margin-left: -5px;
    top: 50%;
    left: 0;
    width: 5px;
    height: 9px;
    background: url("../imgs/tip-twitter_arrows.gif") no-repeat -27px 0; }

.tooltip {
  position: relative;
  color: #205891;/*8a6110*/
  font-weight: bold;
  white-space: wrap;
  border-bottom: 1px dotted #8a6110;
  position: relative;
  text-decoration: none;
  -moz-transition: 0.4s linear all;
  -webkit-transition: 0.4s linear all;
  -o-transition: 0.4s linear all;
  transition: 0.4s linear all; }
  .tooltip:hover {
    cursor: pointer;
    color: #5c410b; }
  .tooltip span {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden; }







/* OLD CODE  */

/*Tooltips
div#margin span.tooltip{
	color:#205891;
	font-weight:bold;
	white-space:nowrap;
	border-bottom:1px dotted #205891;
	position:relative;
}
div#margin span.tooltip:hover{ cursor:pointer; }
div#margin span.tooltip{ text-decoration:none; }

.tip-twitter {
	opacity:0.8;
	z-index:1000;
	text-align:left;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding:8px 15px;
	max-width:200px;
	color:#fff;
	background-color:#000;
}
.tip-twitter .tip-inner { font: 14px/18px sans-serif; }

.tip-twitter .tip-arrow-top {
	margin-top:-5px;
	margin-left:-5px; /* approx. half the width to center it *
	top:0;
	left:50%;
	width:9px;
	height:5px;
	background:url(../imgs/tip-twitter_arrows.gif) no-repeat;
}
.tip-twitter .tip-arrow-right {
	margin-top:-4px; /* approx. half the height to center it *
	margin-left:0;
	top:50%;
	left:100%;
	width:5px;
	height:9px;
	background:url(../imgs/tip-twitter_arrows.gif) no-repeat -9px 0;
}
.tip-twitter .tip-arrow-bottom {
	margin-top:0;
	margin-left:-5px; /* approx. half the width to center it *
	top:100%;
	left:50%;
	width:9px;
	height:5px;
	background:url(../imgs/tip-twitter_arrows.gif) no-repeat -18px 0;
}
.tip-twitter .tip-arrow-left {
	margin-top:-4px; /* approx. half the height to center it *
	margin-left:-5px;
	top:50%;
	left:0;
	width:5px;
	height:9px;
	background:url(../imgs/tip-twitter_arrows.gif) no-repeat -27px 0;
}

div#margin span.tooltip span { position: absolute; width: 0; height: 0; visibility: hidden; }


*/



/*div#margin span.tooltip span{padding:10px;width:250px;color:#FFF;display:block;position:absolute;white-space:normal;left:0px;top:20px;font-weight:normal;background-color:#000;text-decoration:none;z-index:1000;}
div#margin span.tooltip span.tipRight{left:auto;right:0px;}*/

/*Click to Reveals*/
div#margin dl.clickReveal{
	/*margin:0px;
	margin-top:10px;
	margin-bottom:10px;*/
	padding:0px;
	min-height:25px;
}
div#margin dl.clickReveal dt, dl.clickReveal dd{margin:0px;padding:0px;}
div#margin dl.clickReveal dt{
		/*padding-left:30px;*/
		line-height:24px;
		color:#782923;
		font-family:Arial, Helvetica, sans-serif;
		font-size:14px;font-weight:bold;
		background-position:0px center;
		background-repeat:no-repeat;
		-webkit-user-select:none;
		-moz-user-select:none;
		background-repeat:no-repeat;
		background-image: url(../imgs/icon-library/click-reveal-down.png);}
div#margin dl.clickReveal dt.open{background-image: url(../imgs/icon-library/click-reveal-up.png);}
div#margin dl.clickReveal dt:hover{cursor:pointer;}
/*Lightbox*/
div#margin .lightbox{border:1px solid #8c8c8c;position:relative;text-decoration:none; color:#000;}
div#margin .lightbox img{display:block;border:none;}
div#margin .lightbox div.magGlass{width:32px;height:31px;background-image:url("../imgs/enlarge.png");position:absolute;bottom:0px;right:0px;}
div#margin #jquery-overlay {position: absolute;top: 0;left: 0;z-index: 1000;width: 100%;height: 500px;z-index:2000;}
div#margin #jquery-lightbox {position: absolute;top: 0;left: 0;width: 100%;z-index: 2000;text-align: center;line-height: 0;}
div#margin #jquery-lightbox a img { border: none; }
div#margin #lightbox-container-image-box {position: relative;background-color: #fff;width: 250px;height: 250px;margin: 0 auto;}
div#margin #lightbox-container-image { padding: 10px; }
div#margin #lightbox-loading {position: absolute;top: 40%;left: 0%;height: 25%;width: 100%;text-align: center;line-height: 0;}
div#margin #lightbox-nav {position: absolute;top: 0;left: 0;height: 100%;width: 100%;z-index: 10;}
div#margin #lightbox-container-image-box > #lightbox-nav { left: 0; }
div#margin #lightbox-nav a { outline: none; }
div#margin #lightbox-nav-btnPrev, #lightbox-nav-btnNext {width: 49%;height: 100%;zoom: 1;display: block;}
div#margin #lightbox-nav-btnPrev { left: 0; float: left;}
div#margin #lightbox-nav-btnNext { right: 0; float: right;}
div#margin #lightbox-container-image-data-box {font: 10px Verdana, Helvetica, sans-serif;background-color: #fff;margin: 0 auto;line-height: 1.4em;overflow: auto;width: 100%;padding: 0 10px 0;}
div#margin #lightbox-container-image-data {padding: 0 10px; color: #666; }
div#margin #lightbox-container-image-data #lightbox-image-details { width: 70%; float: left; text-align: left; }	
div#margin #lightbox-image-details-caption { font-weight: bold; }
div#margin #lightbox-image-details-currentNumber {display: block; clear: left; padding-bottom: 1.0em;	}			
div#margin #lightbox-secNav-btnClose {width: 66px; float: right;padding-bottom: 0.7em;	}


/*Generic Slideshow*/
div#margin div.slider {
	margin:0px auto;border:1px solid #000;
	background-color: #FFFFFF;
	position:relative;
	overflow:hidden;
}
div#margin div.slider button.arrows{width:50px;height:50px;}
div#margin div.slider button.left, div.slider button.right{margin:0px;padding:0px;position:absolute;bottom:0px;z-index:2;}
div#margin div.slider button.arrows:hover{cursor:pointer;}

/*  Slideshow Buttons (adding arrows)  */
div#margin div.slider button.left	{
	left:0px;
	background-image: url(../imgs/slideshow_left.png);
}
div#margin div.slider button.right {
	right:0px;
	background-image: url(../imgs/slideshow_right.png);
}


/*div#margin div.slider button.left{left:0px;}
div#margin div.slider button.right{right:0px;}*/
div#margin div.slider dt, div#margin div.slider dd{margin:0px;padding:0px;float:left;}
div#margin div.slider dl{margin:0px;padding:0px;position:absolute;z-index:1;}
div#margin div.slider div.slideshowCrumbs{padding-left:10px;width:50px;line-height:20px;color:#FFF;text-align:left;position:absolute;right:0px;top:15px;background-color:#782923;z-index:2;}

div#margin div.iframePrint{display:none;}
div#margin code{margin:20px;padding:10px;color:#333;white-space:pre;word-wrap:break-word;font-size:14px;font-family:"Courier New", Courier, monospace;display:block;background-color:#EFEFEF;border:1px solid #666;overflow:scroll;}

div#overlay{width:100%;height:100%;background-image:url("../imgs/bgFade.png");position:fixed;left:0px;top:0px;z-index:5000;}

div#printBox{margin-left:-300px;padding:20px;width:600px;font-size:14px;color:#FFF;line-height:18px;font-family:Arial, Helvetica, sans-serif;background-color:#60738d;border:1px solid #FFF;position:fixed;left:50%;top:100px;-moz-box-shadow: 0px 0px 4px #000;-webkit-box-shadow: 0px 0px 4px #000;box-shadow: 0px 0px 4px #000;}
div#printBox h4{font-size:16px;}
/*Close Button*/
button.close{padding:0px;margin:0px auto;padding-right:30px;width:30px;height:30px;line-height:30px;color:#FFF;font-weight:bold;text-align:left;background:none;border:none;background-repeat:no-repeat;background-position:right center;background-image:url("../imgs/images/icon_deleteSmall.png");position:absolute;right:2px;top:0px;}
button.close:hover{cursor:pointer;}
/*Properly Hide Items with this Class*/
html body .notVisible, button.close span{width:0px;height:0px !important;overflow:hidden !important;visibility:hidden;position:absolute;}
/*Aligment Classes*/
.left, .right{margin-bottom:10px;}
.left{margin-right:10px;float:left;}
.right{margin-left:10px;float:right;}
.showcase{margin:0px auto;clear:both;display:block;}

p#palette span{display:block;float:left;width:100px;line-height:100px;text-align:center;}


div.box, div.obj, div.overview, div.assignment{
	background-color:#FFF;
	border:2px solid #782923;
	-moz-border-radius:10px;
	border-radius:10px;
}
span.copyright{
	display:block;
	text-align:center;
	font-size:12px;
}
span.copyrightS{
	display:block;
	text-align:center;
	font-size:10px;
}

div#margin div.box h4, div#margin div.obj h4, div.overview h4, div.assignment h4{font-family:Arial, Helvetica, sans-serif;font-size:20px;}/*color:#881401;*/

div#margin div.box h4 span, div#margin div.obj h4 span, div.overview h4 span, div.assignment h4 span{ /*color:#b15c55; */}
div#margin div.obj h4{
padding-left:50px;
line-height:48px;
background-repeat:no-repeat;
background-image:url("../imgs/icon-library/i_objectives.png");
}
div#margin div.assignment h4{
padding-left:65px;
line-height:48px;
background-repeat:no-repeat;
background-image:url("../imgs/icon-library/i_assignment.png");
height: 61px;
}

div#margin h3, div#margin h4, div#margin h5, div#margin h6, div#margin ul, div#margin ol, div#margin dl, div#margin table, div#margin p, div.box, div.obj, div.tabs, div.overview, div.assignment{
margin:20px;
}
div#margin ul, div#margin ol{
*margin-left:60px; /* CSS IE7 hack */
list-style-position: inside;
}
div#margin ul li, div#margin ol li{
margin-bottom:7px;
}

.debugNote{padding:10px;color:#990000;font-weight:bold;background-color:#fff000;}

dl#access dt{visibility:hidden;}
li#settings, span#courseCrumbs{display:none;}

div#crumbs{position:relative;}
span#pageCrumbs{position:absolute;right:20px;top:5px;}

div#margin{
font-size:14px;
line-height:18px;
}

dl.kb{
margin:0px;
padding:0px;
}
dl.kb dt{
margin-bottom:5px;
font-weight:bold;
}
dl.kb dd {
	margin:3px;
	padding: 8px;
	/*padding-left:30px;
	padding-top: 10px;
	padding-bottom: 10px;*/
	background-color:#FFF;
}
dl.kb dd ul{
/*margin-left:0px !important;*/
}
table{
	margin:0px auto;
	width:95%;
	border:1px solid #CCC;
}
table caption{
color:#666;
font-size:12px;
}
table thead th{
color:#FFF;
line-height:30px;
text-align:center;
background-color:#782923;
}
table tbody tr td{
padding:10px;
border:1px solid #CCC;
vertical-align:top;
}
table tbody tr.odd td{
background-color:#EFEFEF;
}
table tbody tr.even td{
background-color:#CCC;
}
table tfoot tr td{
color:#FFF;
font-weight:bold;
text-align:center;
line-height:30px;
background-color:#782923;
}


#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev { 
	left: 0; 
	float: left;
}
#lightbox-nav-btnNext { 
	right: 0; 
	float: right;
}
#lightbox-container-image-data-box {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
}
#lightbox-container-image-data {
	padding: 0 10px; 
	color: #666; 
}
#lightbox-container-image-data #lightbox-image-details { 
	width: 70%; 
	float: left; 
	text-align: left; 
}	
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
	display: block; 
	clear: left; 
	padding-bottom: 1.0em;	
}			
#lightbox-secNav-btnClose {
	width: 66px; 
	float: right;
	padding-bottom: 0.7em;	
}

blockquote{
padding:1px;
background-color:#FFF;
background-repeat:no-repeat;
background-position:10px 10px;
background-image:url("../imgs/quoteLeft.png");
border:1px solid #CCC;
}
blockquote p{
padding-left:40px !important;
padding-right:40px !important;
background-repeat:no-repeat;
background-position:right bottom;
background-image:url("../imgs/quoteRight.png");
}

a.pop{
color:#003366;
}

.video{margin:0px auto;position:relative;text-align:center;position:relative;}
.video .swfObject{width:500px;height:400px;}
.video video{margin:0px auto;display:block;background-color:#000;z-index:1;border:1px solid #000;}
.ccBtn{position:absolute;top:0px;right:0px;width:50px;height:33px;color:#FFF;font-weight:bold;background:none;border:none;background-image:url("cc.png");z-index:2;}
.ccBtn:hover{cursor:pointer;}
.script{position:absolute;top:20px;right:-35px;}
.vidCaption{width:100%;line-height:40px;height:40px;color:#FFF;font-weight:bold;font-family:Arial, Helvetica, sans-serif;background-color:#333;clear:both;}

div.quiz{
	margin:20px;
	background-color:#ffe8cf;
	border:1px solid #000;
	position:relative;
}
div.quiz button:hover{
cursor:pointer;
}
div.quiz dl{
	margin:20px;
	padding:0px;
}
div.quiz dt{
margin-bottom:1px;
padding:10px;
font-weight:bold;
background-color:#FFF;
}
div.quiz dd{
margin:0px;
margin-bottom:1px;
padding:10px;
background-color:#FFF;
}
div.quiz dd:hover{
color:#FFF;
cursor:pointer;
background-color:#782923;/*666*/
}
div.quiz dd.selected{
margin:0px;
margin-bottom:1px;
color:#FFF;
background-color:#000;
border:1px solid #CCC;
}
div.quiz table{
margin:5%;
margin-top:0px;
width:90%;
background-color:#FFF;
border:1px solid #000;
}
div.quiz table th, div.quiz table td{
padding:5px;
width:30%;
vertical-align:top;
border:1px solid #000;
}
div.quiz table td{
font-size:13px;
}
.incorrect td{
color:#FFF;
background-color:#990000;
}
.correct td{
color:#FFF;
background-color:#336600;
}
div.directions{
margin:20px;
padding:1px;
padding-bottom:40px;
background-color:#FFF;
}
div.quiz h3{
text-align:center;
}
div.directions p{
margin:20px;
}
div.directions button{
margin-right:20px;
float:right;
}
div.progressBar{
width:100%;
height:10px;
border:1px solid #000;
position:absolute;
left:-1px;
bottom:-12px;
}
div.progressBar .incOff, div.progressBar .incOn{
	height:100%;
	float:left;
}
div.progressBar .incOff{
	background-color:#782923;/*003366*/
}
div.progressBar .incOn{
background-color:#FFF;/*69acff*/
}

.video{margin:0px auto !important;margin-bottom:40px !important;position:relative;text-align:center;clear:both;}z
.video .swfObject{width:500px;height:400px;}
.video video{margin:0px auto;display:block;background-color:#000;z-index:1;border:1px solid #000;}
.ccBtn{position:absolute;top:0px;right:0px;width:50px;height:33px;color:#FFF;font-weight:bold;background:none;border:none;background-image:url("../imgs/cc.png");z-index:2;}
.ccBtn:hover{cursor:pointer;}
.vidCaption{width:100%;line-height:40px;height:40px;color:#FFF;font-weight:bold;font-family:Arial, Helvetica, sans-serif;background-color:#333;clear:both;}
.video .textVersion{text-align:left !important;}


}

div#margin div.information{
	float:right;
	width:350px;
	background-color:#d3b79a;
	border:2px solid #782923;
	-moz-border-radius:10px;
	border-radius:10px;
	margin: 0 0 20px 20px;
}

div#margin div.information h4{
padding-left:65px;
line-height:48px;
background-repeat:no-repeat;
background-image: url(../imgs/icons/i_information.png);
}

div#margin div.informationWide{
	background-color:#d3b79a;
	border:2px solid #782923;
	-moz-border-radius:10px;
	border-radius:10px;
	margin: 0 0 20px 20px;
}

div#margin div.informationWide h4{
padding-left:65px;
line-height:48px;
background-repeat:no-repeat;
background-image: url(../imgs/icons/i_information.png);
}

div#margin div.primarysource{
	margin:20px;
	background-color:#f7ecea;
	border:2px solid #d3b79a;
	-moz-border-radius:10px;
	border-radius:10px;
}

div#margin div.primarysource h4{
padding-left:55px;
line-height:48px;
background-repeat:no-repeat;
background-image: url(../imgs/icons/i_search.png);
}

div#margin div.primarysource div{
	display:block;
	float:right;
	margin:0 20px 20px 20px;
}

div#margin div.primarysource p {margin:20px;}

div#margin div.discoveryed{
	margin:20px auto;
	background: transparent url(../imgs/discovery-ed-bg.jpg) no-repeat left;
	border:2px solid #205891;
	-moz-border-radius:10px;
	border-radius:10px;
	height:189px;
	width: 650px;
}
div#margin div.discoveryed div{
		left: 280px;
    position: relative;
    width: 370px;
}
div#margin div.discoveryed div form input {   
	left:54px; 
	margin:10px 24px !important;   
	background: transparent url(../imgs/btn-blue-large.png) no-repeat top left;    
	width: 212px;    
	height: 34px;    
	text-align: center;    
	padding: 0px;    
	text-shadow: #000 0px -1px 0px;    
	color: #FFF;    
	font-weight: bold;    
	border: 0px;    
	cursor: pointer; 
} 
div#margin div.discoveryed div span.textVersion {margin:0 144px !important;text-align:center;font-size:.75em;}

div#margin div.caseStudy{
	background-color:#E8E9EB;
	border:2px solid #205891;
	-moz-border-radius:10px;
	border-radius:10px;
	margin: 20px;
}

div#margin div.caseStudy h4{
padding-left:65px;
line-height:48px;
background-repeat:no-repeat;
background-image: url(../imgs/icons/i_casestudy.png);
}

.comments{padding:10px;color:#990000;font-weight:bold;background-color:#fff000;}
.clearBoth{clear:both;}
.textVersionPop{ text-align:center !important;}
#popupfooter {
	margin: 0;
	padding: 2px 24px 2px 4px;
	text-align: left;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height:2em;			/* Height of the footer */
	background:#782923;
	background-color:#782923;
	color:white;
	text-decoration:none;
	font-weight:bold;
	line-height:normal;0
}
#popupfooter .footerRight {
    float: right;
    padding-right: 10px;
    top: 0;
}
#popupfooter a.toplink, 
#popupfooter span.toplink, 
#popupfooter p.toplink {
	color:white;
	text-decoration:none;
	font-weight:bold;
}

