@charset "utf-8";
@media screen{

body {
font-family:Arial, Helvetica, sans-serif;
}

dl#access, div#nav, div#menu, object, iframe, #crumbs{border:1px solid #000;display:none;}



}