@charset "utf-8";
@media print{ 

body {
color: #000;
background-image: none;
background-color: #fff;	
font-family:Arial, Helvetica, sans-serif;
font-size: 14pt;
margin: 0% 0% 10% 0%;
overflow: visible;
}
ul#nav{
display:none;
}

div#margin {
font-family:Arial, Helvetica, sans-serif;
}

span#copy{
font-family:Arial, Helvetica, sans-serif;
}
div#header h1{
font-size:18px;
}

span#copy{
font-size:10pt;
}

table, h3, h4, p {
margin: 20px 5px;
color: #000;
font-family:Arial, Helvetica, sans-serif;	
}

h1, h2 {
margin: 0px 5px 20px 5px;
color: #000;
font-family:Arial, Helvetica, sans-serif;	
}

table td {
padding: 5px;	
}

table, th, tr, td {
background-color: #fff;	
}

.noprint {
display: none;
}

.center {
text-align: center;	
}

.tooltip span {
padding: 0px 10px;
text-align: right;
font-style: italic;
}

ul.stand_out  {
	list-style-position: inside;
	text-indent: 20px;
}

/* sarah's interactives */

/* slideshow */

div#margin .activeInteractive .sp_container, .sp_slide, .sp_padding, form {
padding: 0;
width: 100%;
height: 100%;
color: black;
float: none;
overflow: visible;
background-color: white !important;
background-image: none !important;	
font-size: 14pt;
clear: both;
border: none;
display: block;
}

div#margin .sp_container .sp_slide {
border-bottom: #000 1px dashed;
margin-bottom: 20px;
margin-top: 20px;
padding: 10px 0px;
color: #000;
}

div#margin .sp_container .sp_slide .sp_slide_title {
display: none;	
}

div#margin .sp_container .sp_question_text {
float: none;
text-align: left;
font-size: 14pt;
clear: both;
color: #000;
}

div#margin .sp_container .sp_slide .sp_copyright {
margin-bottom: 20px;
color: #000;	
}

div#margin .sp_directions, .sp_next, .sp_back, .sp_slide_counter, .sp_print {
display: none;
}

div#margin .sp_container h3.sp_h3 {
text-align: left;
font-size: 18pt;
font-weight: bold;
margin: 20px;
}

div#margin .sp_container .sp_print_answer {
height: auto;
width: auto;
display: block;
margin: 0px;
}

div#margin .sp_container .sp_print_answer span {
font-size: 9pt;
color: #666;
}

div#margin .sp_left {
float: none;
clear: both;
text-align: left;
}

div#margin .sp_right {
float: none;
clear: both;
text-align: left;
}

div#margin .sp_block_text {
display: block;	
}

div#margin .noprint {
display: none;
}

/* end slideshow */

/* click reveal */

div#margin .sp_horz_clickReveal {
width: 100%;
position: relative;
text-align: left;
margin: 5px;
display: block;
z-index: 1;
float: none;
clear: both;
}

div#margin .sp_horz_clickReveal  .sp_clickReveal {
position: relative;
text-align: left;
margin: 5px;
display: block;
z-index: 1;
float: none;
clear: both;
}

div#margin .sp_horz_clickReveal .sp_clickReveal_text {
position: relative;
font-size: 14pt;
text-align: left;
left: 0px;
color: #000;
height: auto;
width: auto;
float: none;
top: 0px;
border-bottom: #000 1px dashed;
margin: 20px 0px;
padding: 30px 0px;
display: block;	
clear: both;
}

div#margin .sp_horz_clickReveal .sp_selected {
position: relative;
font-size: 14pt;
text-align: left;
padding: 25px;
top: 0px;
left: 0px;
float: none;	

}

div#margin .sp_horz_clickReveal  .sp_img_container {
position: relative;
padding: 5px;
overflow: visible;
clear: both;
text-align: left;
margin: 5px; 
width: auto;
height: auto;
display: block;
padding: 5px;
float: none;	
}

div#margin .sp_horz_clickReveal  .sp_accessible {
position: relative;
font-size: 14pt;
text-align: left;
left: 0px;
color: #000;
height:auto;
width: auto;
}

dl#access, div#nav, div#menu, object, iframe, #crumbs{border:1px solid #000;display:none;}
div#margin .sp_horz_clickReveal .sp_copyright {
font-size: 10pt;
color: #000;
text-align: left;
}

div#margin a:link, a:visited {background: transparent; color:#333; text-decoration:none;}
div#margin a:link[href^="http://"]:after, a[href^="http://"]:visited:after {content: " (" attr(href) ") "; font-size: 14px;}
a[href^="http://"] {color:#000;}

/* end click reveal */

/* tooltip interactives such as 03_01_commands */

div#margin .activeInteractive span.tooltip {
	font-size: 14pt;	
}

}