@charset "utf-8";
div@appContent{visibility:hidden;}
div#docLoader, div#appLoader{
width:32px;
height:32px;
background-image:url("../imgs/icon-library/spinner.gif");
}
body {
    background-attachment: fixed;
    background-clip: border-box;
    background-color: #242e55;
    background-image: url("../imgs/ushistory_bg3.jpg");
    background-origin: padding-box;
    background-position: top center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    margin: 0;
    padding: 0;
    text-rendering: optimizelegibility;
}

body#popup {
	background-image: none;
	background-color:#FFF;
}

div#page, div#content, div#footer{
width:850px;
}
div#docLoader, div#appLoader{
	margin-left:-32px;
	margin-top:-32px;
	left:50%;
	top:50%;
	position:absolute;	
}
div#content {
	font-family:Arial, Helvetica, sans-serif;
	/*background: #fff;
	border: 7px solid #06F;*/
	/*background: url(../imgs/bg-content-top.jpg) no-repeat scroll 0 top, url(../imgs/bg-content-bottom.jpg) no-repeat scroll 0 bottom, url(../imgs/bg-content-middle.jpg) repeat-y scroll 0 20% transparent;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);*/
	font-size: 0.8em;
	margin: 0px auto 0;
	position: relative;
	width: 850px; /**/
	z-index: 5;	/*margin:0px auto;
	font-size:.8em;
*/
}
div#margin {
	min-height:400px;
	padding: 0px 50px 50px;
	position:relative;
}
div#margin p {
margin-top:20px;
margin-bottom:20px;
padding:0px;
}

div#header{
width:100%;
height:40px;
/*background-color:#424242;
border-bottom:1px solid #FFF;*/
position:fixed;
top:0px;
left:0px;
z-index:10000;
}
div#nav{
margin:0px auto;
height:40px;
font-size:.8em;
font-family:Arial, Helvetica, sans-serif;
position:relative;
width:829px;
}

div#menu{
	margin:0px auto;
	width:550px;
	height:650px;
	font-family:Arial, Helvetica, sans-serif;
	border:1px solid #424242;
	overflow:hidden;
	position:absolute;
	top:60px;
	left:25px;
}

div#menu dl{
	margin:0px;
	width:250px;
	height:650px;
	position:absolute;
}
div#menu dl#modules, div#menu dl#units {
	margin:0px;
	background-color:#efefef;
	background-image: -moz-linear-gradient(top, #FFF, #efefef);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#FFF), to(#efefef));
	background-image: -o-linear-gradient(top, #FFF, #efefef);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#efefef');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#efefef')";
	background-image: linear-gradient(top, #FFF, #efefef);
}
div#menu dl#modules{
	
}
div#menu dl#lessons, div#menu dl#pages{
	margin:0px;
	background-color:#EBE9E5;/*960   24B3E9*/	/*background-image: -moz-linear-gradient(top, #424242, #000);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#424242), to(#000));
	background-image: -o-linear-gradient(top, #424242, #000);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#424242', endColorstr='#000');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#424242', endColorstr='#000')";*/
}
div#menu dl#lessons{
left:100px;
}
div#menu dl#units{
left:200px;
}
div#menu dl#pages{
	left:300px;
}
div#menu dl dt{
	padding-left:18px;
	line-height:40px;
	font-weight:normal;
	font-size:16px;
	color:#782923;/*b6b6b6*/
}
div#menu dl#modules dt, div#menu dl#units dt{
/*text-shadow:1px 1px #FFF;*/
}
div#menu dl#lessons dt{
/*text-shadow:1px 1px #333;*/
}
div#menu dl dd, div#menu dl dd ul{
margin:0px;
padding:0px;
}



div#menu dl dd ul{
list-style-type:none;
font-size:12px;
}
div#menu dl dd ul li.currentPos a{
padding:7px;
}

div#menu dl dd ul li a{
margin-bottom:7px;
padding:3px;
padding-left:15px;
display:block;
text-decoration:none;
outline:none;
position:relative;
left:7px;
}

div#menu dl#modules dd ul li a, div#menu dl#units dd ul li a{
color:#424242;
text-shadow:1px 1px #FFF;
}
div#menu dl#lessons dd ul li a, div#menu dl#pages dd ul li a{
color:#782923;
}


div#menu dl#lessons dd ul li.currentPos a{
background-color:#782923;
color: #ffffff;
}
div#menu dl#modules dd ul li.currentPos a, div#menu dl#units dd ul li.currentPos a{
background-color:#EFEFEF;
}

div#menu dl#modules dd ul li.currentPos a, div#menu dl#lessons dd ul li.currentPos a, div#menu dl#units dd ul li.currentPos a, div#menu dl#pages dd ul li.currentPos a{
	padding-right:0px;
	width:226px;
	position:relative;
	left:20px;
}

div#menu dl#pages dd ul li.currentPos a{
	color:#FFF;
	text-shadow:none;
	background-color:#782923;/*0084c8*/
}

h1 span {
	background: url(../imgs/USHistory_title2.png) no-repeat 40% 0% transparent;
	display: block;
	height: 170px;
	position: relative;/* */
	text-indent: -5000px;
	width: 500px;
	z-index: 10;
	margin: 0 auto;
	margin-top: -145px;

	/*display: block;
	height: 75px;
	position: relative; 
	text-indent: -5000px;
	width: 400pxpx;
	z-index: 10;
	margin-top: -50px;
	margin-right: auto;
	margin-bottom: -50px;
	margin-left: auto;
	padding-top: 15px;*/
}

dl#access {
	margin:0px;
	padding:0px;
	position:fixed;
	top:60px;
}
dl#access dt{

}
dl#access dd {
	margin:0px;
	padding:0px;
	position:absolute;
	left:-30px;
	top: 85px;
}


/*   Left Nav Stationary */
dl#access dd ul {
	background-image: url(../imgs/scroll_back2.png);
	background-repeat: no-repeat;
	margin:0px;
	list-style-type:none;
	background-position: 0px 0px;
	width: 230px;
	height: 250px;
	padding-top: 15px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 17px;
}

dl#access dd li a {
	margin-bottom:7px;
	width:25px;
	height:25px;
	display:block;
	outline:none;
	text-decoration:none;
	position:relative;
	background-position:center center;
}
dl#access dd ul li#menuIcon a{
background-repeat:no-repeat;
background-image:url(../imgs/us_flag.png);
}
dl#access dd ul li#glossPage a{
	margin-top:20px;
	background-repeat:no-repeat;
	background-image:url(../imgs/gloss2.png);
}
dl#access dd ul li#notesPage a{
background-repeat:no-repeat;
background-image:url(../imgs/notes.png);
}
dl#access dd ul li#settings{
display:none;
}
dl#access dd ul li#settings a{
background-repeat:no-repeat;
background-image:url(../imgs/settings.png);
}
dl#access dd ul li#textHelp{
display:none;
}
dl#access dd ul li#textHelp a{
margin-top:20px;
background-repeat:no-repeat;
background-image:url(../imgs/textHelp.png);
}
dl#access dd ul li#increaseFont a{
margin-top:20px;
height:17px;
background-repeat:no-repeat;
background-image:url(../imgs/increaseFont.png);
}
dl#access dd ul li#decreaseFont a{
height:17px;
background-repeat:no-repeat;
background-image:url(../imgs/decreaseFont.png);
}
dl#access dd ul li#cssToggle a{
height:23px;
background-repeat:no-repeat;
background-image:url("../imgs/icon-library/css-toggle.png");
}

dl#access dd li#menuIcon a{
height:30px;
}
dl#access dt, dl#access dd li a span{
visibility:hidden;
position:absolute;
}
div#crumbs{
	height:30px;
	color:#782923;
	font-size:12px;
	font-weight:bold;
	/*text-shadow: 1px 1px #FFF;*/
position:relative;
}
div#crumbs span#courseCrumbs{
float:left;
}
div#crumbs span#courseCrumbs a{
margin-right:10px;
line-height:30px;
color:#666;
text-decoration:none;
display:block;
float:left;
}
div#crumbs span#pageCrumbs{
line-height:30px;
float:right;
}

dl#navigation{
margin:0px;
}
dl#navigation dt{
width:0px;
overflow:hidden;
visibility:collapse;
position:absolute;
}
dl#navigation dd ul {
	background-image: url(../imgs/scroll_nav.png);
	background-repeat: no-repeat;
    float: right;
    height: 40px;
    list-style-type: none;
    margin: 0px 0px 0 0;
    padding: 0px 10px 10px 0;
    width: 120px;
}
dl#navigation dd ul li, dl#navigation dd ul li a{
	width:25px;
	float:right;
}
dl#navigation dd{
	margin:0px;
	padding:0px;
}
dl#navigation dd ul li{
	margin-left:10px;
}
dl#navigation dd ul li a{
	width:28px;
	height:40px;
	display:block;
	text-decoration:none;
	background-repeat:no-repeat;
	background-position:center center;
}
dl#navigation dd ul li a:active, dl#navigation dd ul li a:focus {
outline: 0;
}
dl#navigation dd ul li#glossPage a{
background-image:url("../imgs/icon-library/glossary.png");
}
dl#navigation dd ul li#notesPage a{
background-image:url("../imgs/icon-library/notes.png");
}
dl#navigation dd ul li#prevPage a{
background-image:url(../imgs/icon_arrow_left.png);
}
dl#navigation dd ul li#homePage a{
background-image:url(../imgs/icon_home.png);
}
dl#navigation dd ul li#nextPage a{
background-image:url(../imgs/icon_arrow_right.png);
}
dl#navigation dd ul li#textHelp a{
background-image:url("../imgs/icon-library/text-help.png");
}
dl#navigation dd ul li#access a{
background-image:url("../imgs/icon-library/settings.png");
}
dl#navigation dd ul li#increaseFont a{
background-image:url("../imgs/icon-library/font-increase.png");
}
dl#navigation dd ul li#decreaseFont a{
background-image:url("../imgs/icon-library/font-decrease.png");
}
dl#navigation dd ul li#contrast a{
background-image:url("../imgs/icon-library/icon_contrast.png");
}
dl#navigation dd ul li a span{
width:0px;
overflow:hidden;
visibility:collapse;
position:absolute;
}

div#page{
	background: #FFF;/*e7d1a8*/
	border: 5px solid #782923;
	/*margin:0px auto;
	margin-top:60px;*/
	margin: 120px auto 40px;
}
ul#pageCurls{
	margin:0px;
	padding:0px;
	list-style-type:none;
	clear:both;
	display:block;
}
ul#pageCurls li a{
width:50px;
height:50px;
display:block;
outline:0;
}
ul#pageCurls li a span{
	position:absolute;
	visibility:hidden;
}
ul#pageCurls li#prevBtn{
	/* IE Footer Location - wjones */
	*position: absolute;
	*bottom: -50px;
	*left: 0px;
	float:left;
	background-image:url("../imgs/prevBtn.png");
}
ul#pageCurls li#nextBtn{
	/* IE Footer Location - wjones */
	*position: absolute;
	*bottom: -50px;
	*right: 0px;
	float:right;
	background-image:url("../imgs/nextBtn.png");
}




div#progressBar, div#progressBar div{
height:10px;
background-repeat:repeat-x;
background-color: yellow;
}
div#progressBar{
height:10px;
background-color:#666;
position:relative;
border:1px solid #FFF;
display:none;
}
div#progressBar div{
position:absolute;
left:0px;
top:0px;
}

div#moduleProgress{
background-color:#ffde00;	
}
div#lessonProgress{
background-color:#ffae00;	
}
div#unitProgress{
background-color:#ff7e00;
}
div#footer {
	/*margin:0px auto;
	margin-bottom:20px;*/
	line-height:50px;
	font-size:12px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
}
div#footer span{
	background-color: #782923;
    background-image: url(../imgs/flvs-logo.png);
	/* background-image: url("../imgs/icon-library.gif")*/
    background-position: 95% 60%;
    background-repeat: no-repeat;
    /*border-radius: 6px;*/
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    padding: 0 20px;
    text-align: left;
    width: 310px;
	/*margin:0px auto;
	width:300px;
	display:block;
	text-align:left;
	background-position:right center;
	background-repeat:no-repeat;
	background-image:url("../imgs/icon-library.gif");*/
}