/* From Interactive */

body {font-family:Arial, Helvetica, sans-serif;}

div#margin {
	width:600px; 
	margin: 5px auto; 
	padding:20px 50px 50px; 
	background-color: #EBE9E5;
}
div#margin h2 {padding: 10px; font-size: 2em;}
div#margin h3 {margin:10px;}
div#margin p {margin: 5px;}

.mainPar{font-size: 1.2em; margin: 10px 10px 20px;}

.ui_interactive {
	border:#CCC solid thin;
}
.ui_interactive .draggable {
    background: -moz-linear-gradient(#FFFFFF, #E6E6E6) repeat scroll 0 0 transparent;
    border-radius: 3px 3px 3px 3px;
    cursor: move;
	text-align:center;
	border:#888 thin solid\9;
}
.draggable {
    float: left;
    font-size: 0.9em;
	margin: 5px 5px 2px;
    max-width: 260px;
    min-height: 155px;
    min-width: 50px;
    padding: 0 5px;
    position: relative;
}
.droppable {
    width: 260px !important;
	margin: 18px 15px 18px 5px;
}
.droppable .bin {
    font-size: 1.1em;
	min-height: 30px;
}
.droppable .bin ul {
    padding-left: 5px;
}
.ui-widget-content {
	border:none; 
}
#margin ul, #margin ol {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

/************************************/

p.style1 {
	height:18px;
}

.ui_card {
	width: 159px;
	height: 170px;	
	margin: 5px 5px 25px 5px;
	padding: 0;
}

.ui_flip {
	font-size: 25px;
	font-variant: small-caps;
	text-align: center;
	background-color: #FFF !important;
	overflow: hidden;
	
}

.ui_flip img {
	margin: -10px 0 0 0;
	padding: 0;
	
}

.ui_flipped {
	padding: 0;
	margin: 0;
}

.ui_interactive .help {
	left: 10px;	
}

.italicFont {font-style:italic;}

/*Aligment Classes - from lib.css*/
.left, .right{margin-bottom:10px;}
.left{margin-right:10px;float:left;}
.right{margin-left:10px;float:right;}
.showcase{margin:0px auto;clear:both;display:block;}
span.copyright{	display:block;text-align:center;font-size:12px;}
.center {text-align:center;}
.italicText {font-style:italic;}

/* Makes tooltips look regular */
a.ui_tooltip {color: #205891; border-bottom:1px dotted #8a6110; text-decoration: none; font-weight: bold;}
.ui_tooltip_bubble {font-weight:normal !important;}
a.tooltip:hover {cursor: pointer; color: #5c410b; }

/* Makes touch-drag-drop easier */
.bin {min-height:95px;}
