/* CSS Document

.periodictable .ui-slideshow-slide {
	margin: 0px;
}
.periodictable .ui-navigation-header li .next {
	float: right !important;
	margin-right: -186px;
}
.periodictable .ui_pend .help {
	right: 0px;
	top:40px;
	z-index: 1;
}
.periodictable .ui-button-text-only .ui-button-text {
	line-height: 20px;
	color: #547893;
	padding: 5px 15px;
}
*/
#slideShowOne {
	width: 800px;
	margin: 0 auto;
}
.heatingcurves .ui-slideshow-slide {
	margin: 0px;
}

.heatingcurves .ui_pend .help {
	right: 20px;
	top: 8px;
	z-index: 2;
}

.heatingcurves h2 {
	color: #fff;
	margin-bottom: 15px;
	font-size: 19px;
	line-height: 20px;
	margin-top: 5px;
}

.image-container {
	margin-bottom: 0px !important;
}
.carousel-indicators {
	bottom: 5px !important;
}